/*-------  ここから共通のCSS（変更不要）  --------*/
body {
  margin: 0;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  color: #888;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #323A45;
  transition: all .3s;
}

a:hover {
  color: #0dc0c0;
}

h2, h3, h4, h5, h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 400;
}

h4, h5 {
  color: #444;
  font-size: 18px;
}

.container {
  width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.section-title {
  color: #555;
  padding-top: 60px;
  padding-bottom: 10px;
  text-align: center;
}

.section-title h3 {
  margin: 10px 0;
  font-size: 32px;
  font-weight: 300;
  line-height: 36px;
}
.gray-section {
  background: #f4f4f4;
  color: #888;
}
/*-------  ここまで共通のCSS（変更不要） --------*/

/*------- ここからCSSを書き始めてください --------*/

header {
  width: 100%;
  height: 50px;
  background-color: #fff;
  box-shadow: 1px 2px rgba(0, 0, 0, 0.1);
  position: fixed;
  Z-index: 100000;
}

.header-left {
  float: left;
  font-size: 25px;
  color: #777;
  padding: 12px 5px;
  font-weight: 900;
}
.header-right {
  float: right
}
.header-right li {
  display: inline-block;
  font-weight: 700;
  padding: 17px 8px;
}
.top-section {
  margin: 0 auto;
  text-align: center;
  color: #fff;
  background-image: url("https://s3-ap-northeast-1.amazonaws.com/progate/lesson_images/html/practice/backgrounds/top.jpg");
  background-size: cover;
}

.inner-bg {
  padding-top: 180px;
  padding-bottom: 120px;
  background-color: rgba(0, 0, 0, 0.6);
}

.top-description {
  margin-top: 30px;
  margin-bottom: 20px;
}

.top-description h2 {
  font-family: 'Dosis', sans-serif;
  color: #f3f3f3;
  font-size: 48px;
  line-height: 54px;
  margin: 10px 0 30px 0;
  font-weight: 400;
}

.top-description p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  line-height: 30px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 20px;
  font-weight: 600;
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
  cursor: pointer;
  transition: all .3s;
}

.btn-top-white {
  background: rgba(250, 250, 250, 0.06);
  border: 1px solid rgba(250, 250, 250, 0.15);
  color: rgba(250, 250, 250, 0.9);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.btn-top-white:hover {
  background: rgba(250, 250, 250, 0.05);
  border: 1px solid rgba(250, 250, 250, 0.8);
  color: #fff;
  box-shadow: 0 0 12px rgba(250, 250, 250, 0.15);
  border-radius: 3px;
}

#detail {
 display: none;
}
.detail-active {
  
}
/*-------  ここまでtop content  --------*/

/*--language--*/
.language {
  text-align: center;
  color: #888;
  padding-bottom: 60px;
}

.language-box-wrapper {
  width: 80%;
  margin: 0 auto;
  
}
.language-box {
  display: inline-block;
  width: 38%;
  padding: 20px;
  vertical-align: top;
  height: 200px;
}
.text-active {
  display: none;
}

.active {
  display: block;
}
/*features*/
.features-section-top {
  text-align: center;
  height: 376px;
}
.features-section-bottom {
  padding-top: 120px;
}
.features-box {
  display: inline-block;
  width: 40%;
  padding: 0 0 60px 65px;
  vertical-align: top;
}
/*pricing*/
.pricing-section {
  padding-bottom: 50px;
}
.price-col,.price-col-green {
  display: inline-block;
  width: 28%;
  background-color: white;
  text-align: center;
  padding: 25px 15px 15px 15px;
  margin: 20px 13px 50px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
.price-col h2 {
  color: #fff;
  background: #323A45;
  padding: 30px 0;
  font-size: 32px;
  margin-bottom: 0;
}
.price-col-green h2 {
  background-color: #0DC0C0;
}
.price-col h3 {
  color: #555;
  background: #f0f0f0;
  padding: 40px 0;
  font-size: 30px;
  margin-top: 0;
}
.price-col ul {
  padding: 30px;
}
.price-col li:first-child {
  border-top: none;
}
.price-col li {
  color: #888;
  font-weight: 400;
  padding: 18px 0;
  border-top: 1px solid #eee;
}
.btn-pricing {
  background: #2d323a;
  color: #e8edef !important;
}
.btn-pricing:hover {
  background: #384147;
}
/*Mentors*/
.mentors-section {
  text-align: center;
}
.mentor-box {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;
}
.mentor-box img {
  width: 200px;
  height: 200px;
  margin: 10px 0;
  padding: 0;
  border-radius: 50%;
}
/*Message*/
.message-section {
  background-image: url("https://s3-ap-northeast-1.amazonaws.com/progate/lesson_images/html/practice/backgrounds/night_view.jpg");
  background-size: cover;
  text-align: center;
}
.message-section-inner {
  background-color: rgba(0,0,0,0.6);
  padding: 140px 0;
}
.message-section h4 {
  color: #fff;
  font-size: 22px;
  line-height: 40px;
}
/*Column*/
.column-section {
  text-align: center;
  padding-bottom: 30px;
}
.filters-wrapper {
  margin-bottom: 40px;
}
.filter-item {
  display: inline-block;
  background-color: #fff;
  color: #323A45;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  padding: 8px 16px;
  margin: 10px 5px 0 0;
  transition: all.3s;
  font-family:"Dosis",sans-serif;
}
.filter-item:hover {
  color: #fff;
  background: #009ca8;
}
.column-box {
  display: inline-block;
  width: 40%;
  background-color: white;
  padding: 7px 7px 27px;
  margin: 0 15px 30px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  vertical-align: top;
}
.column-box img {
  width: 100%;
}
.column-title {
  display: block;
  margin-top: 17px;
  color: #444;
  font-size: 17px;
  font-weight: 600;
}

/*contact*/
.contact-section {
  background: url("https://s3-ap-northeast-1.amazonaws.com/progate/lesson_images/html/practice/backgrounds/contact.jpg");
  background-size: cover;
  color: white;
}
.contact-section-inner {
  background-color: rgba(0,0,0,0.6);
  padding-bottom: 70px;
}
.contact-section h3,.contact-section h4 {
  color: #fff;
}
.contact-section h4 {
  font-size: 22px;
  padding-bottom: 10px;
}
input,textarea {
  margin: 0;
  padding: 0 10px;
  vertical-align: middle;
  background: rgba(250,250,250,0.08);
  border: none;
  width: 85%;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  border-radius: 0;
  box-shadow: none;
  transition: all 3s;
  margin-bottom: 20px;
  padding: 15px;
}
textarea {
  height: 150px;
}
.contact-form {
  display: inline-block;
  width: 58%;
  vertical-align: top;
}
.contact-about{
  display: inline-block;
  width: 40%;
  vertical-align: top;
}
.contact-about i {
  padding-right: 15px;
  font-size: 18px;
}
.contact-about p {
  margin: 0 0 24px;
  line-height: 24px;
}
.btn-contact {
  font-family: "Dosis",sans-serif;
  font-size: 18px;
  font-weight: 600;
  background: #0dc0c0;
  border: 1px solid #09b1b9;
  color: white;
  box-shadow: 0 1px 0 #0fc8c8;
  text-shadow: 0 1px 0 rgba(0,0,0,0.1);
  margin: 10px 0;
  padding: 15px 35px;
}

/*social*/
.social-section {
  text-align: center;
  padding-bottom: 50px
}
.social-section h3 {
  font-weight: 300;
}
.social-icon {
  text-align: center;
  font-size: 36px;
  line-height: 76px;
  color: #323A45;
  padding: 5px;
  
}
footer {
  text-align: center;
  background: #222;
  padding: 39px 0 36px;
  color: #999;
}